.footer {
  background-color: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.title{
  color: #F3F3F3;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn-goback{
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 30px;
}
