<div class="goals-section page">
  <div class="goals-title">
    <h1>Objetivos</h1>
  </div>

  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        *ngFor="let grupo of slidesAgrupados; let i = index"
        [class.active]="i === 0"
        data-target="#myCarousel"
        [attr.data-slide-to]="i"
      ></li>
    </ol>
    <div class="carousel-inner">
      <div
        *ngFor="let grupo of slidesAgrupados; let i = index"
        [class.active]="i === 0"
        class="carousel-item"
      >
        <div class="row">
          <div *ngFor="let goal of grupo" class="col-sm-3">
            <img [src]="goal.imageUrl" [alt]="goal.imageAlt" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
