<div class="section page">
  <div class="title">
    <h1>Objetivos</h1>
  </div>

  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        *ngFor="let grupo of slidesAgrupados; let i = index"
        [class.active]="i === 0"
        data-target="#myCarousel"
        [attr.data-slide-to]="i"
      ></li>
    </ol>
    <div class="carousel-inner">
      <div
        *ngFor="let grupo of slidesAgrupados; let i = index"
        [class.active]="i === 0"
        class="carousel-item"
      >
        <div class="row">
          <div *ngFor="let goal of grupo" class="col-sm-3 flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img [src]="goal.imageUrl" [alt]="goal.imageAlt" />
                <h2>{{ goal.title }}</h2>
              </div>
              <div class="flip-card-back">
                <p>{{ goal.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
