<div class="goals-section page">
  <div class="goals-title">
    <h1>Objetivos</h1>
  </div>
  <div class="goals-content">
    <div class="carousel-container">
      <div class="carousel">
        <div class="flip-card carousel-item" *ngFor="let goal of goals">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="{{ goal.imageUrl }}" alt="Imagem de Serviço" />
              <h2>{{ goal.title }}</h2>
            </div>
            <div class="flip-card-back">
              <p>{{ goal.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="scrollCarousel('left')" class="carousel-button"><</button>
  <button (click)="scrollCarousel('right')" class="carousel-button">></button>
</div>
