<div class="services-section page">
  <div class="services-title">
    <h1>Serviços</h1>
  </div>
  <div class="services-content">
    <div class="flip-card" *ngFor="let service of services">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="{{ service.imageUrl }}" alt="Imagem de Serviço" />
        </div>
        <div class="flip-card-back">
          <h2>{{ service.title }}</h2>
          <p>{{ service.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
